# Binaries and temp files
/tmp
/tmp/*
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# Go build artifacts
bin/
main
*.log

# IDE/editor junk
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# dotenv and secrets

# Air build files
tmp/
config.bat
node_modules
